<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_catalog.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo de Productos</title>
</head>
<body>
    <h1 class="text-center">Catalogo de Productos (PyGroup)</h1>
    <p>{{ my_info.pygroup }}</p>

    
    <div class="container">
        <div class="row">
            {% for product in my_info.products%}
            <div class="col-sm-4 col-lg-3">
                <a href="" class="text-decoration-none text-muted">
                    <div class="producto">
                        <div class="row titulo">
                            <div class="col-12">
                                <h4> {{ product.name }} </h4>
                            </div>
                        </div>
                        <div class="row img-producto">
                            <div class="col-12">
                                <img src="{{ product.image }}" alt="Imagen Producto" width="120" height="120">
                            </div>
                        </div>
                        <div class="row precio">
                            <div class="col-12">
                                <span {% if product.price < 100000 %} style="color: red" {% else %} style="color: blue" {% endif %}>${{ product.price }}</span></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p style="font-weight: bold;"> Descripción:</p><p class="descripcion"> {{ product.description}} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {% if product.refundable %}
                                <h6 style="color: rgb(1, 153, 1);">¡Reembolsable!</h6>
                                {% else %}
                                <h6 style="color: rgb(183, 1, 1);">Lo sentimos. ¡No reembolsable!</h6>
                                {% endif %}
                            </div>
                        </div>  
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>