{% extends "base.html" %}

{% block content %}
    <section class="hero is-link is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="product container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title" style="color: white">Sign Up</h3>
                    <div class="box">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="notification is-danger">
                            {{ messages[0] }}. Ve a la <a href="{{ url_for('auth.login') }}">pagina de login</a>.
                        </div>
                        {% endif %}
                        {% endwith %}
                        <form method="POST" action="{{ url_for('auth.signup') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" name="email" placeholder="Email*" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="first_name" placeholder="Nombre*" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="last_name" placeholder="Apellido*" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" name="address" placeholder="Dirección" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="number" name="phone_number" placeholder="No. Telefono" autofocus="">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" name="password" placeholder="Password*">
                                </div>
                            </div>

                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <div class="select is-fullwidth is-medium">
                                        <select name="payment_method">
                                        {% for payment_method in my_info.payment_methods %}
                                        <option>{{ payment_method.payment_method_description }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="number" name="credit_card_number" placeholder="No. Tarjeta Credito">
                                </div>
                            </div>

                            <button class="button is-block is-warning is-large is-fullwidth">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}